In [541]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [542]:
file=pd.read_csv("resu.csv",nrows=234)

In [543]:
file

     Category                                             Resume
0           1  Skills * Programming Languages: Python (pandas...
1           1  Education Details _x000D_\nMay 2013 to May 201...
2           1  Areas of Interest Deep Learning, Control Syste...
3           1  Skills Ã¢Â€Â¢ R Ã¢Â€Â¢ Python Ã¢Â€Â¢ SAP HANA ...
4           1  Education Details _x000D_\n MCA   YMCAUST,  Fa...
..        ...                                                ...
229         7  Skill Sets: Ã¢Â€Â¢ Multi-tasking Ã¢Â€Â¢ Collab...
230         7  Education Details _x000D_\n Bachelor's   _x000...
231         7  SKILLS 1. MS-Office 2. Good Communication skil...
232         7  KEY SKILLS: Ã¢Â€Â¢ Planning & Strategizing Ã¢Â...
233         7  IT Skills: MS Office. Photoshop. SQL Server.Ed...

[234 rows x 2 columns]

In [597]:
file1=pd.read_csv("webD_resupro.csv",nrows=233)
file2=pd.read_csv("java_resupro.csv",nrows=233)
file3=pd.read_csv("datas_resupro.csv",nrows=233)
file4=pd.read_csv("Civil_resupro.csv",nrows=233)
file5=pd.read_csv("Mechanical_resupro.csv",nrows=233)

p=file1[['Resume']]
p

                                                Resume
0    Skills * Programming Languages: Python (pandas...
1    Education Details _x005F_x000D_\nMay 2013 to M...
2    Areas of Interest Deep Learning, Control Syste...
3    Skills ÃƒÂ¢Ã‚â‚¬Ã‚Â¢ R ÃƒÂ¢Ã‚â‚¬Ã‚Â¢ Python Ãƒ...
4    Education Details _x005F_x000D_\n MCA   YMCAUS...
..                                                 ...
228  Operating Systems Windows XP, 7, 10. Tools/Pac...
229  Computer Skills: Languages And Script: JSP, Se...
230  Education Details _x005F_x000D_\nJanuary 2016 ...
231  TECHNICAL SKILLS Programming Languages: Java (...
232  SKILLS: - 1) Team leading 2) Self-motivated 3)...

[233 rows x 1 columns]

In [545]:
y=file[['Category']]
x=file1[['Resume']]

In [546]:
import re
import nltk

from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
ps = WordNetLemmatizer()
c = []
for i in range(0, len(x)):
    r=re.sub('[^a-zA-Z]', ' ',x['Resume'][i])
    r=r.lower()
    r=r.split()

    r=[ps.lemmatize(word) for word in r if not word in stopwords.words('english')]
    r=' '.join(r)
    c.append(r)

In [547]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
x = cv.fit_transform(c).toarray()

In [615]:
y1

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [548]:
y1=file1[['Category']]
y1=y1.to_numpy().flatten()
y2=file2[['Category']]
y2=y2.to_numpy().flatten()
y3=file3[['Category']]
y3=y3.to_numpy().flatten()
y4=file4[['Category']]
y4=y4.to_numpy().flatten()
y5=file5[['Category']]
y5=y5.to_numpy().flatten()

In [549]:
print(y1)
print(y2)
print(y3)
print(y4)
print(y5)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0]
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1]
[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0]
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0]
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0]

In [551]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [580]:

x1_train,x1_test,y1_train,y1_test=train_test_split(x,y1,test_size=0.2,random_state=0)
x2_train,x2_test,y2_train,y2_test=train_test_split(x,y2,test_size=1/3,random_state=10)
x3_train,x3_test,y3_train,y3_test=train_test_split(x,y3,test_size=1/3,random_state=2)
x4_train,x4_test,y4_train,y4_test=train_test_split(x,y4,test_size=1/3,random_state=2)
x5_train,x5_test,y5_train,y5_test=train_test_split(x,y5,test_size=1/6,random_state=2)

In [581]:
lr1=LogisticRegression()
lr2=LogisticRegression()
lr3=LogisticRegression()
lr4=LogisticRegression()
lr5=LogisticRegression()
lr1.fit(x1_train,y1_train)
lr2.fit(x2_train,y2_train)
lr3.fit(x3_train,y3_train)
lr4.fit(x4_train,y4_train)
lr5.fit(x5_train,y5_train)

LogisticRegression()

In [582]:
y_pred1=lr1.predict(x1_test)
y_pred2=lr2.predict(x2_test)
y_pred3=lr3.predict(x3_test)
y_pred4=lr4.predict(x4_test)
y_pred5=lr5.predict(x5_test)

In [596]:
print(y_pred1)
print(y1_test)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0
 0 0 1 0 0 0 0 0 0 0]
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0
 0 0 1 0 0 0 0 0 0 0]

In [584]:
from sklearn.metrics import classification_report

print(classification_report(y_pred1, y1_test))
#print(classification_report(y_pred2, y2_test))
print(classification_report(y_pred3, y3_test))
print(classification_report(y_pred4, y4_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        42
           1       1.00      1.00      1.00         5

    accuracy                           1.00        47
   macro avg       1.00      1.00      1.00        47
weighted avg       1.00      1.00      1.00        47

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        60
           1       1.00      1.00      1.00        18

    accuracy                           1.00        78
   macro avg       1.00      1.00      1.00        78
weighted avg       1.00      1.00      1.00        78

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        71
           1       1.00      1.00      1.00         7

    accuracy                           1.00        78
   macro avg       1.00      1.00      1.00        78
weighted avg       1.00      1.00      1.00        78

In [585]:
f=pd.read_csv("resu.csv")
f=f.iloc[892:961]
f

    Category                                             Resume
892  Testing  Ã¢Â€Â¢ Good logical and analytical skills Ã¢Â€...
893  Testing  COMPUTER PROFICIENCY Ã¢Â€Â¢ Basic: MS-Office (...
894  Testing  Computer Skills: Ã¢Â€Â¢ Proficient in MS offic...
895  Testing  Ã¢ÂÂ– Willingness to accept the challenges. Ã...
896  Testing  PERSONAL SKILLS Ã¢Â€Â¢ Quick learner, Ã¢Â€Â¢ E...
..       ...                                                ...
956  Testing  COMPUTER PROFICIENCY Ã¢Â€Â¢ Basic: MS-Office (...
957  Testing  Computer Skills: Ã¢Â€Â¢ Proficient in MS offic...
958  Testing  Ã¢ÂÂ– Willingness to accept the challenges. Ã...
959  Testing  PERSONAL SKILLS Ã¢Â€Â¢ Quick learner, Ã¢Â€Â¢ E...
960  Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...

[69 rows x 2 columns]

In [621]:
X=f['Resume'][892]
X

'Ã¢Â€Â¢ Good logical and analytical skills Ã¢Â€Â¢ Positive attitude towards solving problems and accepting challenges Ã¢Â€Â¢ A team player & leader Ã¢Â€Â¢ A good organizer PRESONAL DETAILS: DOB: 20/07/1995. Marital status: Single.Education Details _x000D_\nJuly 2015 to June 2018 BE Electrical Pune, Maharashtra Sinhagad institute of technology_x000D_\nJanuary 2012 DIPLOMA MSBTE Kopargaon, MAHARASHTRA, IN K.B.P.Polytechnic_x000D_\nJanuary 2010 SSC S.G.Vidyalaya  state board_x000D_\nTesting Engineer _x000D_\n_x000D_\nElectrical engineer_x000D_\nSkill Details _x000D_\nCompany Details _x000D_\ncompany - Intelux Electronics Pvt Ltd_x000D_\ndescription - 1. Power management system Testing department'

In [609]:
s=X
r=[]
p=re.sub('[^a-zA-Z]', ' ',s)
p = p.lower()
p = p.split()
p = [ps.lemmatize(word) for word in p if not word in stopwords.words('english')]
p = ' '.join(p)

r.append(p)

z=cv.transform(r).toarray()

In [610]:
sc1=lr1.predict(z)
sc2=lr2.predict(z)
sc3=lr3.predict(z)
sc4=lr4.predict(z)
sc5=lr5.predict(z)

In [611]:
pro1=lr1.predict_proba(z)
pro2=lr2.predict_proba(z)
pro3=lr3.predict_proba(z)
pro4=lr4.predict_proba(z)
pro5=lr5.predict_proba(z)

In [612]:
print(pro1[0,1])
print(pro2[0,1])
print(pro3[0,1])
print(pro4[0,1])
print(pro5[0,1])

0.011355706439879456
0.14006462688382088
0.003572101491805517
0.0018707068257478342
0.000976979618998745

In [616]:
print(pro1[0,1]*100)
print(pro2[0,1]*100)
print(pro3[0,1]*100)
print(pro4[0,1]*100)
print(pro5[0,1]*100)

TypeError: can only concatenate str (not "numpy.float64") to str